@model Escuela // Esto tipa fuertemente al parámetro que se está pasando

@{
    Layout = "_Nested";
    ViewData["Title"] = "Información Escuela";
}

@ViewData["Title"]
@ViewBag.CosaDinamica

<h1>@Model.Nombre Scool</h1>
<address>
    <partial name="Objeto" />
    <p>Tipo de escuela: @Model.TipoEscuela</p>
    <p>Año de Fundación: @Model.AñoDeCreación</p>
    <p>Dirección: @Model.Dirección</p>
    <p>País: @Model.Pais</p>
    <p>Ciudad: @Model.Ciudad</p>
</address>