@model Curso

<h1>@Model.Nombre</h1>
<hr>
@if (@Model.Escuela != null)
{
    <h4>Escuela: @Model.Escuela.Nombre</h4>
} else {
    <h4>Escuela no asignada</h4>
}
<h4>Turno: @Model.Jornada</h4>
<p>Alumnos Matriculados:</p>
<ul>
    @foreach (Inscripcion inscripcion in Model.Inscripciones)
    {
        <li>@inscripcion.Alumno.Nombre</li>
    }
</ul>